.square {
  width: 200px;
  height: 100px;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
}

.title {
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
}
