@import 'src/styles/variables.scss';

.square {
  width: 200px;
  height: 100px;
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-text);
  cursor: pointer;
}

.title {
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  font-style: oblique;
  font-family: var(--font-family-primary), serif;
}
