@import 'variables.module';

@mixin button-style {
  border-radius: var(--border-radius-primary);
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid var(--color-text);
  font-family: var(--font-family-primary), serif;
  font-style: oblique;

  &:hover {
    background-color: var(--color-dark);
  }
}

@mixin input-style {
  height: 30px;
  text-align: left;
  margin-bottom: 10px;
  border: 1px solid var(--color-text);
  border-radius: var(--border-radius-secondary);
  font-weight: bold;
}
