:root {
  --color-primary: #f4f4f4;
  --color-secondary: #ffffff;
  --color-tertiary: #0055cf;
  --color-danger: #fa1c03;
  --color-warning: #e74c3c;
  --color-info: #47fb00;
  --color-light: #e0e0e0;
  --color-dark: #c5c5c6;
  --color-text: #0c0c0c;
  --color-modal: #ed74d3;

  --font-family-primary: Arial, Helvetica;

  --border-radius-primary: 8px;
  --border-radius-secondary: 4px;
}
